.tribe-events-list-event-description tribe-events-content {
	font-size: 30px;
	color:red;
}

.tribe-events-event-cost{
	color:red;
}
h2.tribe-events-list-event-title{
	font-family: 'AW Conqueror Didot', serif !important;
	font-size: 30px;
	color:red;
}

.tribe-events-list-event-title h1{
	font-family: 'AW Conqueror Didot', serif !important;
	font-size: 30px;
	color:red;
}
.tribe-event-loop h2{
	font-family: 'AW Conqueror Didot', serif !important;
	font-size: 30px;
	color:red;
}
.tribe-events-list-separator-month{
	text-align: center;
	background-color: transparent;
}