/************************
Foooooter
************************/

.footer {
    width: 100%;
    background: #101011;
    height: auto;
}

.footer-content {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding: 30px;
}

.footer a:hover {
    text-decoration: none;
    color: white;
}

.footer a {
    color: #a09fa2;
    line-height: 200%;
}

.footer h3 {
    color: #dedede;
    font-size: 19pt;
}


.footer h3:hover{
    color:#fff;
}

.footer p, .footer span {
    color: #a09fa2;
}

.footer-bottom {
    border-top: 1px solid #38393b;
    text-align: center;
    padding: 10px;

}

.footer-bottom img{
    width: 25px;
    height:auto;
}

#footer-logo {
    max-width: 50%;
    width: 95px;
    height: auto;
    margin: 20px;
}

footer {
    margin-top: 4em;
}

footer #impressum{
    margin-left: 30px;
    margin-top: -2px;
}