
.navbar-nav {
    margin: 0 auto;
    table-layout: fixed;
    float: none;
    text-align:center;
}
.navbar{
    background-color:#FFFFFF !important;

}
.navbar a{
    color:black;
}
.navbar a:hover{
    text-decoration: none;
    color:black;
}
.navbar a:visited{
    color:black;
}


.latest-post img {

    max-width: 620px;
    max-height: 370px;
    width: 100%;
    height: auto;
}

/* ***************
Allgemeine Stileinstellungen
**************** */
body, a, h1, h2, h3, h4, h5, h6{
    font-family: 'AW Conqueror Didot', serif !important;
}

p,  span, a, li {

    font-family: 'Raleway', sans-serif !important;
}

.text-justify {
    text-align: justify;
}

img {

    max-width: 100%;
    height: auto;
}
.imagecrop{
    width: 100%;
    height: 450px !important;
    overflow: hidden;
}
.imagecrop img{

    width: 100%;
    height: auto;
    position: center;
}

.breadcrumb{
    background-color: white !important;
}

/* ***************
Navigationsleiste
**************** */

.logoarea {

    background-image: url("../assets/images/header-shape.png");
    background-repeat: no-repeat;
    height: 200px;
}

#main-logo {
    margin:30px 0px 0px 150px;
    max-width: 100%;
    width: 95px;
    height: auto;
}
#main-logo-start {
    margin:0px 0px 0px 8%;
    max-width: 100%;
    width: 95px;
    height: auto;
    float:left;
}

.page-title{

    margin-bottom: 15px;

}
.page-image-top{
    margin-top: -20px;
}
.navbar-nav.nav-justified > li{
    float:none;
}
.nav-justified{
    margin: 10px 0px;
    padding: 0 8% 0 8% !important;
}



.navigationsleiste  {
    display: inline-block;
    position: relative;
    padding: 3px 10px 3px 0;
    z-index: 100;
}

/* SECOND LEVEL */
.navigationsleiste > ul > li > ul {
    position: relative;
    left: 0;
    top: 100%;
    padding: 0 1000em; /* trick from css-tricks comments */
    margin: 0 -1000em; /* trick from css-tricks comments */
    z-index: 101;
    visibility: hidden;
    opacity: 0;
    text-align: center;

}

.navigationsleiste > ul > li:hover > ul {
    visibility: visible;
    opacity: 1;
}

.navigationsleiste > ul > li > ul > li {
    padding: 15px 0;
}

.navigationsleiste > ul > li:hover .drop {
    font-weight: bold;}

/****
Detailsseite
***/
.acf-small-cat{
    font-weight: 600;
}

.details-header{
    font-family: 'Raleway'!important;
    font-weight:400;
    font-size: 25pt;
}
