
.latest-post img {

    max-width: 620px;
    max-height: 370px;
    width: 100%;
    height: auto;
}

/* ***************
Allgemeine Stileinstellungen
**************** */

h1, h2, h3, h4, h5, h6{
    font-family: 'AW Conqueror Didot', serif !important;
}

a,li {
    color: #00aeef;
}

body, p,  span, a, li {
    font-family: 'Raleway', sans-serif !important;
}


.text-justify {
    text-align: justify;
}

img {
    width: 100%;
    max-width: 100%;
    height: auto;
}
.imagecrop{
    width: 100%;
    height: 450px;
    overflow: hidden;
}
.imagecrop img{

    width: 100%;
    height: auto;
    position: center;
}

.breadcrumb{
    background-color: white !important;
}

#menu-left{
    list-style-type: none;
    padding-left: 0;
}

#menu-anmeldung{
    list-style-type: none;
    padding-left: 0;
}

/*
Detailsseite Elementarausbildung
*/

.full-width-image-align{
    padding:0 !important;
}
.full-width-image-on-top{
    height: 200px;
    width: 100%;
    overflow: hidden;
}

.full-width-image-on-top img{
    width: 100%;
    height: auto;
    position: relative;
    bottom: 600px;
}
.elar_beschreibung{
    padding-bottom: 3em;
}

.instrument_cat_elem {
    padding-bottom: 3em;
}
.instrument_cat{
    font-weight: 600;
}
.content{
    padding-bottom: 3em;
}

.menu-left-container li{
    padding-bottom: 1em;
}

.menu-left-container li a:active{
    text-decoration: underline;
}
.menu-left-container li a:hover{
    text-decoration: none;
}

.menu-anmeldung-container li{
    padding-bottom: 1em;
}
.menu-anmeldung-container li a:active{
    text-decoration: underline;
}
.menu-anmeldung-container li a:hover{
    text-decoration: none;
}


    /* ***************
    Navigationsleiste
    **************** */
/*
.logoarea {

    background-image: url("../assets/images/header-shape.png");
    background-repeat: no-repeat;
    height: 200px;
}

#main-logo {
    margin:30px 0px 0px 150px;
    max-width: 100%;
    width: 95px;
    height: auto;
}
#main-logo-start {
    margin:0px 0px 0px 8%;
    max-width: 100%;
    width: 95px;
    height: auto;
    float:left;
}

.page-title{

    margin-bottom: 15px;

}
.page-image-top{
    margin-top: -20px;
}
.navbar-nav.nav-justified > li{
    float:none;
}
.nav-justified{
    margin: 10px 0px;
    padding: 0 8% 0 8% !important;
}



.navigationsleiste  {
    display: inline-block;
    position: relative;
    padding: 3px 10px 3px 0;
    z-index: 100;
}
*//*
/* SECOND LEVEL *//*
.navigationsleiste > ul > li > ul {
    position: relative;
    left: 0;
    top: 100%;
    padding: 0 1000em; /* trick from css-tricks comments */
   /* margin: 0 -1000em; /* trick from css-tricks comments */
  /*  z-index: 101;
    visibility: hidden;
    opacity: 0;
    text-align: center;
}

.navigationsleiste > ul > li:hover > ul {
    visibility: visible;
    opacity: 1;
}

.navigationsleiste > ul > li > ul > li {
    padding: 15px 0;
}

.navigationsleiste > ul > li:hover .drop {
<<<<<<< HEAD
    font-weight: bold;}

/****
Detailsseite
***/
.acf-small-cat{
    font-weight: 600;
}

.details-header{
    font-family: 'Raleway'!important;
    font-weight:400;
    font-size: 25pt;

}

/*
Anmeldung und Angebot
*/
.sub-angebot{
    font-size: 20pt;
}
/*FBE*/
/*
.nav-justified > .dropdown:hover .dropdown-menu{
    margin:0;
    padding:0;
}

.nav-justified > .dropdown .dropdown-menu{
    margin:0 auto;
    border:0;
    border-radius:0;
    border-top:1px solid #efefef;
    /*margin-left: -50%;*/
   /* -webkit-box-shadow:none;
    box-shadow:none;
}*/

/*#collapse-menu{
    background-color: #fff; 
}

.navbar.navbar-default{
    border:0;
    border-radius: 0;
}

.nav-justified > li {
    border-bottom: 1px solid #efefef;
}

.dropdown .dropdown-menu > li.menu-item {
        padding: 10px 15px;
        margin:0 4%;
}
.dropdown .dropdown-menu > li.menu-item:hover{
    cursor:pointer;
}

.dropdown .dropdown-menu > li.menu-item > a {
    clear: initial;
    display: initial; 
    padding: 0; 
    clear: initial; 
    font-weight: initial; 
    line-height:inherit; 
    color: #333; 
    white-space: initial
}

.dropdown .dropdown-menu > li.menu-item:hover > a{
    text-decoration: underline;
    background-color: #fff;

}

.navbar #collapse-menu .current_page_item {
    background-color: #efefef;
}

.affix{
    top:0;
    padding-right:15px;
}

#fixpos{
    margin-bottom:-51px;
    z-index: 1;
}

body > .container-fluid {
    margin-top: 51px;
}*/


/*FBE*/
nav .navbar-header{
    width: 100%;
    border-bottom:1px solid #333;
    padding: 6px 0;
}

nav.navbar-default .container-fluid{
    padding:0;
}

nav #headertitle{
    font-size:42px;
    width:100%;
    text-align:center;
    font-family: 'AW Conqueror Didot', serif !important;
}

@media(max-width: 690px){
    nav #headertitle{
        font-size:30px;
    }
}

@media(max-width: 380px){
    nav #headertitle{
        font-size:20px;
    }
}

nav .navbar-collapse{
    width:100%;
    padding:0;
    text-align: center;
    float:left;
    border-bottom:0px solid #000;
}

nav.navbar>.container-fluid .navbar-brand{
    position:absolute;
    margin:0;
    width: 80px;
    height: 65px;
    background-image: url("../assets/images/logo_figure.png");
    background-size: 80px 65px;
    background-color: #fff;
}

@media (max-width: 768px){
    nav.navbar>.container-fluid .navbar-brand{
        position:relative;
    }
}

nav .navbar-collapse > ul > li{
    float:none;
    display:inline-block;
}

nav .navbar-collapse.in ul li{
    width: 100%;
    text-align: left;
}

nav .navbar-collapse.in ul li ul{
    position: relative;
    margin-left: 20%;
}

nav .navbar-nav{
    float:none;
    margin:0;
}

body nav.navbar {
    background-color: #000;
    border:0;
    color:#fff;
    border-radius: 0;
    margin-bottom: 0px;
    border-image-width: 0;
}

body nav.navbar a,
nav.navbar-default .navbar-brand,
nav.navbar-default .navbar-nav>li>a{
    color:#999;
    font-size: 17px;
    font-family: 'Raleway', Arial;

}

nav.navbar-default .navbar-nav>li>a:focus, 
nav.navbar-default .navbar-nav>li>a:hover{
    color:#fff;
}

nav.navbar-default .navbar-nav>.active>a,
nav.navbar-default .navbar-nav>.active>a:focus,
nav.navbar-default .navbar-nav>.active>a:hover,
nav.navbar-default .navbar-nav>.open>a, 
nav.navbar-default .navbar-nav>.open>a:focus, 
nav.navbar-default .navbar-nav>.open>a:hover{
    color:#fff;
    background-color: #000;
}

nav .dropdown-menu{
    background-color: #000;
    border:0;
    border-radius: 0;
}

nav .dropdown-menu>li>a:focus, 
nav .dropdown-menu>li>a:hover{
    color:#fff;
    background-color: #000;
}

nav .navbar-nav>li:hover>.dropdown-menu{
    display: block;
}

nav .collapse.in,
nav .collapse.in #collapse-menu{
    display:block;
}

nav .container > .navbar-header, 
nav .container-fluid > .navbar-header,
nav .container > .navbar-collapse,
nav .container-fluid > .navbar-collapse{
    margin:0;
}
nav .collapse{
    border:0;
    box-shadow:none;
}

nav #menu-primary li.current-menu-item > a,
nav #menu-primary li.current-menu-parent > a{
    color:#fff;
    background-color: inherit;
}

nav.navbar-default .navbar-toggle{
    border-color: #999;
}

nav.navbar-default .navbar-toggle:hover{
    border-color: #fff;
    background-color: #000;
}

nav.navbar-default .navbar-toggle:hover .icon-bar{
    background-color: #fff;
}

/*/FBE*/

