.max-width-container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

.latest-post img {

    max-width: 620px;
    max-height: 370px;
    width: 100%;
    height: auto;
}

body, html {
    overflow-x: hidden;
}

h1, h2,h2 a, h3, h4, h5, h6 {
    font-family: 'AW Conqueror Didot', serif;
}

h2 {
    font-size: 2em;
}
h2 a{
    color: #000;
}
h3{
    font-size: 1.5em;
}

a, li {
    color: #00aeef;
}


body, p, span, a, li {
    font-family: 'Raleway', sans-serif;
    line-height: 1.75em;

}

.text-justify {
    text-align: justify;
}

img {
    width: 100%;
    max-width: 100%;
    height: auto;
}

.imagecrop {
    width: 100%;
    height: 450px;
    overflow: hidden;
}

.page-image-top{
    padding-top: 35px;
}

.text-on-img {

    color: whitesmoke;
    z-index: 2;
    left: 0;
    bottom: 30%;
}

.imagecrop img {

    width: 100%;
    height: auto;
    position: center;
}

.padding-bottom-15 {
    padding-bottom: 15px;
}

.breadcrumb {
    background-color: white !important;
}

#menu-left {
    list-style-type: none;
    padding-left: 0;
}

#menu-anmeldung {
    list-style-type: none;
    padding-left: 0;
}

body .box-link-container {
    padding-bottom: 25px;
    margin-left: -10%;
    margin-right: -10%;
}

.box-link {
    margin-bottom: 25px;
    max-height: 250px;
    overflow: hidden;

}

.box-link img {
    transition: all 0.3s ease-in-out;
}

.box-link:hover img {
    transform: scale(1.1);
}

.box-link-image {
    height: auto;
    width: 100%;:hover
}

.box-link-text {
    position: absolute;
    background-color: RGBA(255, 255, 255, 0.5);
    color: #000;
    bottom: 0px;
    width: 100%;
    z-index: 10;
    height: 35px;
    left: 0px;
    right: 15px;
    line-height: 35px;
    text-align: center;
    font-weight: 400;
    font-size: 14pt;

}

.someSpace {
    margin-top: 5px;
}

.grey-bg {
    background-color: #fafafa;
}

.light-grey-background {
    padding: 5% 0 5% 0;
    background-color: #f2f2f2;
}

.main-padding {
    padding: 0;
}

.full-width-image-align {
    padding: 0 !important;
    height: auto;
}

.startseite-link-to-page {
    position: relative;
    padding: 0;
    margin: 0;
    border: 1px solid #fff;
    border-left: 0;
    overflow: hidden;
}

.startseite-link-to-page img {
    transition: all 0.3s ease-in-out;
    width: 100%;
    max-width: 100%;
    height: auto;
}

.startseite-link-to-page:hover img {
    transform: scale(1.1);

}

.grey-overlay {
    background-color: RGBA(255, 255, 255, 0.5);
    width: 100%;
    position: absolute;
    bottom: 0;
    padding: 0;
}

.grey-overlay h4 {
    text-align: center;
    width: 100%;
    font-family: 'Raleway' !important;
    color: black;
}

.full-width-image-on-top {
    height: 200px;
    width: 100%;
    overflow: hidden;
}

.full-width-image-on-top img {
    width: 100%;
    height: auto;
    position: relative;
}



.full-width-image-on-top-start {
    max-height: 450px;
    width: 100%;
    overflow: hidden;
}

.full-width-image-on-top-start img {
    width: 100%;
    height: auto;
    position: relative;

}

.secondImg img {

    width: auto;
}

.news-on-start {
    padding-top: 35px;
}

.news-on-start h2 {
    font-size: 3em;
}

.main-site-post, .padding_top {
    padding-top: 25px;
}

.start-news-title {
    margin-top: 30px;

}

.start-news-text {
    padding-top: 30px;
}


.start-news-title a {
    font-family: "AW Conqueror Didot", serif !important;
    color: black;
    font-size: 1.7em;
    text-transform: uppercase;
}

.elar_beschreibung {
    padding-bottom: 2em;
}

.instrument_cat_elem {
    padding-bottom: 2em;
}

.instrument_cat {
    font-size: 1.1em;
}

.content {
    padding-bottom: 2em;

}

/************************
Linke Navigation
************************/

.menu-left-container li, .menu-anmeldung-container li, #menu-anmeldung li {
    padding-bottom: 1em;
}

.menu-left-container li a:active, .menu-anmeldung-container li a:active, #menu-anmeldung li a:active {
    text-decoration: underline;
}

.menu-left-container li a:hover, .menu-anmeldung-container li a:hover, #menu-anmeldung li a:hover {
    text-decoration: none;
}

/************************
Detailsseite
************************/
.acf-small-cat {
 font-size: 1.1em;
}

.details-header {
    margin-top: 2.75em;
    font-family: "AW Conqueror Didot";
    font-weight: 400;
    font-size: 20pt;
}
.normal-list{
list-style: none;
    margin:0;
    padding: 0;
    text-decoration: none;
}


/*
Anmeldung und Angebot
*/
.sub-angebot {
    padding: 2.75em 0 1em 0;
}

.events-page {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

#pagetitle {
    margin-top: 50px;
    margin-bottom: 70px;
}

/************************
Kontakt
************************/

.kontakt-infos, .kontakt-formular {
    padding-top: 50px;
    line-height: 2em;
}

.opening-times {

    padding-top: 25px;
}

#fscf_captcha_refresh1 img {
    width: 22px;
    height: 20px;
}

#fscf_captcha_image_div1 img {
    width: auto;
}

.footer-content {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
}

.footer a:hover {
    text-decoration: none;
    color: white;
    /*text-shadow: 0px 0px 20px yellow;*/
}

.footer a {
    font-family: 'Raleway' !important;
    font-weight: 400;
    color: #a09fa2;
    line-height: 200%;
}

.footer h3 {
    font-family: 'AW Conqueror Didot', serif !important;
    line-height: 150%;

    color: #ebe8f1;
    font-size: 20pt;
}

.footer p {
    font-family: 'Raleway' !important;
    font-weight: 500;
    color: #a09fa2;
}

.footer span {
    font-family: 'Raleway' !important;
    font-weight: 400;
    color: #6e6d71;
    line-height: 250%;
}

.footer-bottom {
    margin: 0 auto;
    border-top: 1px solid #38393b;
    text-align: center;
    align-content: center;
    padding: 20px;
    padding-bottom: 30px;
}

.footer-bottom-content {
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}

#footer-logo {
    max-width: 50%;
    width: 95px;
    height: auto;
    margin: 20px;
}

#logo {
    float: left;
}

#footer-fb {
    align-self: center;
    background-image: url("../assets/images/fb_logo.png");
    background-size: auto 25px;
    background-repeat: no-repeat;
    width: 25px;
    height: 25px;
    margin-left: 15px;
> > > > > > > ThomasNeu
}

.col-centered {
    text-align: center;
    float: none;
    margin: 0 auto;
}

#footer-fb:hover {
    background-image: url("../assets/images/FB-f-Logo__blue_100.png");
}

#footer-yt {
    align-self: center;
    background-image: url("../assets/images/youtube_logo.png");
    background-size: auto 25px;
    background-repeat: no-repeat;
    width: 36px;
    height: 25px;
    margin-left: 15px;
}

#footer-yt:hover {
    background-image: url("../assets/images/YouTube-icon-full_color.png");
}

/************************
News
************************/

.news-container {
    padding-top: 35px;
}

.news-container a {
    color: #2f2f34;
}
