.max-width-container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

.latest-post img {

    max-width: 620px;
    max-height: 370px;
    width: 100%;
    height: auto;
}

/* ***************
Allgemeine Stileinstellungen
**************** */

h1, h2, h3, h4, h5, h6 {
    font-family: 'AW Conqueror Didot', serif !important;
}

a, li {
    color: #00aeef;
}

body, p, span, a, li {
    font-family: 'Raleway', sans-serif !important;
}

.text-justify {
    text-align: justify;
}

img {
    width: 100%;
    max-width: 100%;
    height: auto;
}

.imagecrop {
    width: 100%;
    height: 450px;
    overflow: hidden;
}

.imagecrop img {

    width: 100%;
    height: auto;
    position: center;
}

.padding-bottom-15{
    padding-bottom: 15px;
}

.breadcrumb {
    background-color: white !important;
}

#menu-left {
    list-style-type: none;
    padding-left: 0;
}

#menu-anmeldung {
    list-style-type: none;
    padding-left: 0;
}

body .box-link-container {
    padding-bottom: 25px;
    margin-left: -10%;
    margin-right: -10%;
}

.box-link {
    width: 100%;
    margin-bottom: 25px;
    max-height: 250px;
    overflow: hidden;

}
.box-link img{
    transition: all 0.3s ease-in-out;
}
.box-link img:hover{
    transform: scale(1.1);
}

.box-link-image {
    height: auto;
    width: 100%;
}



.box-link-text {
    position: absolute;
    background-color: RGBA(255, 255, 255, 0.5);
    color: #000;
    bottom: 0px;
    width: 100%;
    z-index: 10;
    height: 35px;
    left: 0px;
    right: 15px;
    line-height: 35px;
    text-align: center;
    font-weight: 400;
    font-size: 14pt;

}
.grey-bg{
    background-color: #fafafa;
}
.light-grey-background {
    padding: 5% 0 5% 0;
    background-color: #f2f2f2;
}

/*
Detailsseite Elementarausbildung
*/

.full-width-image-align {
    padding: 0 !important;
}

.full-width-image-on-top {
    height: 200px;
    width: 100%;
    overflow: hidden;
}

.full-width-image-on-top img {
    width: 100%;
    height: auto;
    position: relative;
    bottom: 600px;
}

.elar_beschreibung {
    padding-bottom: 3em;
}

.instrument_cat_elem {
    padding-bottom: 3em;
}

.instrument_cat {
    font-weight: 600;
}

.content {
    padding-bottom: 3em;
}

.menu-left-container li, .menu-anmeldung-container li ,#menu-anmeldung li{
    padding-bottom: 1em;
}

.menu-left-container li a:active, .menu-anmeldung-container li a:active, #menu-anmeldung li a:active {
    text-decoration: underline;
}

.menu-left-container li a:hover, .menu-anmeldung-container li a:hover ,#menu-anmeldung li a:hover{
    text-decoration: none;
}



/****
Detailsseite
***/
.acf-small-cat {
    font-weight: 600;
}

.details-header {
    font-family: 'Raleway' !important;
    font-weight: 400;
    font-size: 25pt;
}

/*
Anmeldung und Angebot
*/
.sub-angebot {
    font-size: 20pt;
}

/*FBE*/
/*
.nav-justified > .dropdown:hover .dropdown-menu{
    margin:0;
    padding:0;
}

.nav-justified > .dropdown .dropdown-menu{
    margin:0 auto;
    border:0;
    border-radius:0;
    border-top:1px solid #efefef;
    /*margin-left: -50%;*/
/* -webkit-box-shadow:none;
 box-shadow:none;
}*/

/*#collapse-menu{
    background-color: #fff; 
}

.navbar.navbar-default{
    border:0;
    border-radius: 0;
}

.nav-justified > li {
    border-bottom: 1px solid #efefef;
}

.dropdown .dropdown-menu > li.menu-item {
        padding: 10px 15px;
        margin:0 4%;
}
.dropdown .dropdown-menu > li.menu-item:hover{
    cursor:pointer;
}

.dropdown .dropdown-menu > li.menu-item > a {
    clear: initial;
    display: initial; 
    padding: 0; 
    clear: initial; 
    font-weight: initial; 
    line-height:inherit; 
    color: #333; 
    white-space: initial
}

.dropdown .dropdown-menu > li.menu-item:hover > a{
    text-decoration: underline;
    background-color: #fff;

}

.navbar #collapse-menu .current_page_item {
    background-color: #efefef;
}

.affix{
    top:0;
    padding-right:15px;
}

#fixpos{
    margin-bottom:-51px;
    z-index: 1;
}

body > .container-fluid {
    margin-top: 51px;
}*/

/*FBE*/
nav .navbar-header {
    width: 100%;
    border-bottom: 1px solid #333;
    padding: 6px 0;
}

nav.navbar-default .container-fluid {
    padding: 0;
}

nav #headertitle {
    font-size: 42px;
    width: 100%;
    text-align: center;
    font-family: 'AW Conqueror Didot', serif !important;
}

nav .navbar-collapse {
    width: 100%;
    padding: 0;
    text-align: center;
    float: left;
    border-bottom: 0px solid #000;
}

nav.navbar > .container-fluid .navbar-brand {
    position: absolute;
    margin: 0;
    width: 80px;
    height: 65px;
    background-image: url("../assets/images/logo_figure.png");
    background-size: 80px 65px;
    background-color: #fff;
}

nav .navbar-collapse > ul > li {
    float: none;
    display: inline-block;
}

nav .navbar-nav {
    float: none;
}

body nav.navbar {
    background-color: #000;
    border: 0;
    color: #fff;
    border-radius: 0;
    margin-bottom: 0px;
    border-image-width: 0;
}

body nav.navbar a,
nav.navbar-default .navbar-brand,
nav.navbar-default .navbar-nav > li > a {
    color: #999;
    font-size: 17px;
    font-family: 'Raleway', Arial;

}

nav.navbar-default .navbar-nav > li > a:focus,
nav.navbar-default .navbar-nav > li > a:hover {
    color: #fff;
}

nav.navbar-default .navbar-nav > .active > a,
nav.navbar-default .navbar-nav > .active > a:focus,
nav.navbar-default .navbar-nav > .active > a:hover,
nav.navbar-default .navbar-nav > .open > a,
nav.navbar-default .navbar-nav > .open > a:focus,
nav.navbar-default .navbar-nav > .open > a:hover {
    color: #fff;
    background-color: #000;
}

nav .dropdown-menu {
    background-color: #000;
    border: 0;
    border-radius: 0;
}

nav .dropdown-menu > li > a:focus,
nav .dropdown-menu > li > a:hover {
    color: #fff;
    background-color: #000;
}

nav .navbar-nav > li:hover > .dropdown-menu {
    display: block;
}

/*/FBE*/
/************************
Foooooter
************************/

.footer {
    width: 100%;
    /*height: 400px;*/
    background: #101011;
    height: auto;
}

.footer-content {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding: 30px;
}

.footer a:hover {
    text-decoration: none;
    color: white;
}

.footer a {
    font-family: 'Lato', sans-serif !important;
    color: #a09fa2;
    line-height: 200%;
}

.footer h3 {
    font-family: 'Lora', serif !important;
    color: #ebe8f1;
    font-size: 20pt;
}

.footer p, span {
    font-family: 'Lato', sans-serif !important;
    color: #a09fa2;
}

.footer-bottom {
    border-top: 1px solid #38393b;
    text-align: center;
    padding: 10px;

}

#footer-logo {
    max-width: 50%;
    width: 95px;
    height: auto;
    margin: 20px;
}

