.max-width-container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

.latest-post img {

    max-width: 620px;
    max-height: 370px;
    width: 100%;
    height: auto;
}
body,html{
    overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'AW Conqueror Didot', serif;
}

a, li {
    color: #00aeef;
}

body, p, span, a, li {
    font-family: 'Raleway', sans-serif !important;
}

.text-justify {
    text-align: justify;
}

img {
    width: 100%;
    max-width: 100%;
    height: auto;
}

.imagecrop {
    width: 100%;
    height: 450px;
    overflow: hidden;
}

.imagecrop img {

    width: 100%;
    height: auto;
    position: center;
}

.padding-bottom-15 {
    padding-bottom: 15px;
}

.breadcrumb {
    background-color: white !important;
}

.full-height{
    height: 100vh;

}

#menu-left {
    list-style-type: none;
    padding-left: 0;
}

#menu-anmeldung {
    list-style-type: none;
    padding-left: 0;
}

body .box-link-container {
    padding-bottom: 25px;
    margin-left: -10%;
    margin-right: -10%;
}

.box-link {
    margin-bottom: 25px;
    max-height: 250px;
    overflow: hidden;

}

.box-link img {
    transition: all 0.3s ease-in-out;
}

.box-link img:hover {
    transform: scale(1.1);
}

.box-link-image {
    height: auto;
    width: 100%;
}

.box-link-text {
    position: absolute;
    background-color: RGBA(255, 255, 255, 0.5);
    color: #000;
    bottom: 0px;
    width: 100%;
    z-index: 10;
    height: 35px;
    left: 0px;
    right: 15px;
    line-height: 35px;
    text-align: center;
    font-weight: 400;
    font-size: 14pt;

}
.someSpace{
    margin-top: 5px;
}
.grey-bg {
    background-color: #fafafa;
}

.light-grey-background {
    padding: 5% 0 5% 0;
    background-color: #f2f2f2;
}
.main-padding{
    padding: 0;
}

.full-width-image-align {
    padding: 0 !important;
    height: auto;
}

.startseite-link-to-page{
    position: relative;
    padding: 0;
    margin: 0;
    padding-left: 1px;
    overflow: hidden;
}
.startseite-link-to-page img {
    transition: all 0.3s ease-in-out;
    width: 100%;
    max-width: 100%;
    height: auto;
}

.startseite-link-to-page img:hover {
    transform: scale(1.1);

}
.grey-overlay{
    background-color: RGBA(255,255,255,0.5);
    width: 100%;
    position: absolute;
    bottom:0;
    padding: 0;
}
.grey-overlay h4{
    text-align: center;
    width: 100%;
    font-family: 'Raleway' !important;
    color: black;
}


.full-width-image-on-top {
    height: 200px;
    width: 100%;
    overflow: hidden;
}

.full-width-image-on-top img {
    width: 100%;
    height: auto;
    position: relative;
}

.full-width-image-on-top-start{
    height: 450px;
    width: 100%;
    overflow: hidden;

    margin-bottom: 1px;
}
.full-width-image-on-top-start img {
    width: 100%;
    height: auto;
    position: relative;

}
.secondImg img{

    width: auto;
}
.news-on-start h2{
    font-size: 3em;
}
.main-site-post{
    padding-top: 25px;
}
.start-news-title {
    margin-top: 30px;

}
.start-news-text{
    padding-top: 30px;
}
.start-news-text p,.start-news-text  a, .start-news-text a:hover{
    font-size: 1.25em;
    color:black;

}
.start-news-text a{
    text-decoration: underline;
}
.start-news-title a{
    font-family: "AW Conqueror Didot",serif !important;
    color:black;
    font-size: 2em;
}



.elar_beschreibung {
    padding-bottom: 3em;
}

.instrument_cat_elem {
    padding-bottom: 3em;
}

.instrument_cat {
    font-weight: 600;
}

.content {
    padding-bottom: 3em;
}

/************************
Linke Navigation
************************/

.menu-left-container li, .menu-anmeldung-container li, #menu-anmeldung li {
    padding-bottom: 1em;
}

.menu-left-container li a:active, .menu-anmeldung-container li a:active, #menu-anmeldung li a:active {
    text-decoration: underline;
}

.menu-left-container li a:hover, .menu-anmeldung-container li a:hover, #menu-anmeldung li a:hover {
    text-decoration: none;
}

/************************
Detailsseite
************************/
.acf-small-cat {
    font-weight: 600;
}

.details-header {
    font-family: "AW Conqueror Didot";
    font-weight: 400;
    font-size: 25pt;
}

/*
Anmeldung und Angebot
*/
.sub-angebot {
    padding-top: 35px;
    font-size: 20pt;
}

.events-page{
	max-width: 1200px;
	margin-left: auto;
	margin-right: auto;
}

#pagetitle {
    margin-top: 50px;
    margin-bottom: 70px;
}

/************************
Kontakt
************************/

.kontakt-infos, .kontakt-formular{
    padding-top: 50px;
    line-height: 2em;
}

.opening-times{

    padding-top: 25px;
}

#fscf_captcha_refresh1  img{
    width: 22px ;
    height: 20px;
}
#fscf_captcha_image_div1 img{
    width: auto;
}
