/*FBE*/
nav .navbar-header {
    width: 100%;
    border-bottom: 1px solid #333;
    padding: 6px 0;
}

nav.navbar-default .container-fluid {
    padding: 0;
}

nav #headertitle {
    font-size: 42px;
    width: 100%;
    text-align: center;
    font-family: 'AW Conqueror Didot', serif !important;
}

nav .navbar-collapse {
    width: 100%;
    padding: 0;
}

@media (max-width: 690px) {
    nav #headertitle {
        font-size: 30px;
    }
}

@media (max-width: 380px) {
    nav #headertitle {
        font-size: 20px;
    }
}

nav .navbar-collapse {
    width: 100%;
    padding: 0;
    text-align: center;
    float: left;
    border-bottom: 0px solid #000;
}

nav.navbar > .container-fluid .navbar-brand {
    position: absolute;
    margin: 0;
    width: 80px;
    height: 65px;
    background-size: 80px 65px;
    background: #fff url("../assets/images/logo_figure.png");
}

nav .navbar-collapse > ul > li {
    float: none;
    display: inline-block;
}

nav .navbar-nav {
    float: none;
}

@media (max-width: 768px) {
    nav.navbar > .container-fluid .navbar-brand {
        position: relative;
    }
}

nav .navbar-collapse > ul > li {
    float: none;
    display: inline-block;
}

nav .navbar-collapse.in ul li {
    width: 100%;
    text-align: left;
}

nav .navbar-collapse.in ul li ul {
    position: relative;
    margin-left: 20%;
}

nav .navbar-nav {
    float: none;
    margin: 0;
}

body nav.navbar {
    background-color: #000;
    border: 0;
    color: #fff;
    border-radius: 0;
    margin-bottom: 0px;
    border-image-width: 0;
}

body nav.navbar a,
nav.navbar-default .navbar-brand,
nav.navbar-default .navbar-nav > li > a {
    color: #999;
    font-size: 17px;
    font-family: 'Raleway', Arial;

}

nav.navbar-default .navbar-nav > li > a:focus,
nav.navbar-default .navbar-nav > li > a:hover {
    color: #fff;
}

nav.navbar-default .navbar-nav > .active > a,
nav.navbar-default .navbar-nav > .active > a:focus,
nav.navbar-default .navbar-nav > .active > a:hover,
nav.navbar-default .navbar-nav > .open > a,
nav.navbar-default .navbar-nav > .open > a:focus,
nav.navbar-default .navbar-nav > .open > a:hover {
    color: #fff;
    background-color: #000;
}

nav .dropdown-menu {
    background-color: #000;
    border: 0;
    border-radius: 0;
}

nav .dropdown-menu > li > a:focus,
nav .dropdown-menu > li > a:hover {
    color: #fff;
    background-color: #000;
}

nav .navbar-nav > li:hover > .dropdown-menu {
    display: block;
}

nav .collapse.in,
nav .collapse.in #collapse-menu {
    display: block;
}

nav .container > .navbar-header,
nav .container-fluid > .navbar-header,
nav .container > .navbar-collapse,
nav .container-fluid > .navbar-collapse {
    margin: 0;
}

nav .collapse {
    border: 0;
    box-shadow: none;
}

nav #menu-primary li.current-menu-item > a,
nav #menu-primary li.current-menu-parent > a {
    color: #fff;
    background-color: inherit;
}

nav.navbar-default .navbar-toggle {
    border-color: #999;
}

nav.navbar-default .navbar-toggle:hover {
    border-color: #fff;
    background-color: #000;
}

nav.navbar-default .navbar-toggle:hover .icon-bar {
    background-color: #fff;
}

/*/FBE*/